.backgroundImage	{
		background-image:url('devRoom3.1.jpg');
		background-repeat: no-repeat;
		padding-bottom: 40%;
		background-size: 100%;
		margin-bottom: 40%;
}

.centerText 	{
		margin-top: 20%;
}

.openerFont 	{
		font-family: Lucida Console;
		font-size: 50px;
		font-weight: bold;
		color: #e1eaf2;
}







































